body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.bg-img-full {
  min-height: 80vh; 
  width: 100%;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)), 
    url("./assets/bg-register-login.webp");
    
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.hero-section {
  position: relative;
  min-height: 50vh;
  background-image: url(./assets/bg-hero.webp);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-menu-dark {
  background-color: #dedede !important;
}

.dropdown-menu-dark .dropdown-item,
.dropdown-menu-dark .dropdown-item.active,
.dropdown-menu-dark .dropdown-item:active,
.dropdown-menu-dark .dropdown-item:focus {
  background-color: transparent !important;
  background-image: none !important;
  color: #ffffff !important;
}

.dropdown-menu-dark .dropdown-item:hover {
  background-color: #333333 !important;
  color: #ffffff !important;
}

.nav-link:focus,
.dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
}
